This notebook counts the percent of molecules which were merged strongly (custom molecule length < 4).
To run it, you need to save the custom representation of a molecule into a file.

In [14]:
import pandas as pd

In [15]:
atoms = pd.read_csv('atoms_count.csv', index_col=0)

In [16]:
atoms.head()

   custom_count  rdkit_count
0             7           21
1             9           18
2            12           16
3            12           25
4            10           20

In [17]:
atoms['loss_percent'] = 1 - atoms.custom_count / atoms.rdkit_count

In [18]:
atoms.describe()

       custom_count   rdkit_count  loss_percent
count  14111.000000  14111.000000  14111.000000
mean       9.428247     17.574587      0.455278
std        5.171263      7.765619      0.203008
min        1.000000      5.000000      0.000000
25%        6.000000     12.000000      0.333333
50%        9.000000     16.000000      0.454545
75%       12.000000     21.000000      0.588235
max       65.000000     85.000000      0.982143

In [19]:
print('count of molecules with <= 3 atoms:', len(atoms[atoms.rdkit_count < 4]))

count of molecules with <= 3 atoms: 0

In [20]:
print('count of custom molecules with <= 3 atoms:', len(atoms[atoms.custom_count < 4]))

count of custom molecules with <= 3 atoms: 1155

In [21]:
atoms[atoms.custom_count < 4]

       custom_count  rdkit_count  loss_percent
9                 1           16      0.937500
30                2           16      0.875000
33                3           14      0.785714
63                3           12      0.750000
147               2           14      0.857143
...             ...          ...           ...
13997             2           12      0.833333
14048             3           12      0.750000
14053             2           12      0.833333
14055             3           18      0.833333
14086             2            8      0.750000

[1155 rows x 3 columns]

In [22]:
big_loss_molecules = atoms[atoms.custom_count < 4]
big_loss_molecules.describe()

       custom_count  rdkit_count  loss_percent
count   1155.000000  1155.000000   1155.000000
mean       2.331602    11.402597      0.766862
std        0.747031     4.651810      0.105368
min        1.000000     5.000000      0.400000
25%        2.000000     8.000000      0.714286
50%        2.000000    11.000000      0.769231
75%        3.000000    13.000000      0.833333
max        3.000000    56.000000      0.982143